.background-image-desktop {
  width: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  height: 800px;

  img {
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 575px) {
  .background-image-desktop {
    height: 100px;
  }
}